<p><strong>articles.html - to add in between the body tags</strong></p><pre class="prettyprint linenums">&lt;form action="" method="post"&gt;
    {% csrf_token %}
    &lt;label for="title"&gt;Title: &lt;/label&gt;
    &lt;input id="title" type="text" name="title"&gt;
    &lt;label for="category"&gt;Category: &lt;/label&gt;
    &lt;input id="category" type="text" name="category"&gt;
    &lt;label for="author"&gt;Author: &lt;/label&gt;
    &lt;input id="author" type="text" name="author"&gt;
    &lt;label for="content"&gt;Content: &lt;/label&gt;
    &lt;textarea id="content" name="content" rows="4" cols="50"&gt; &lt;/textarea&gt;
    &lt;input type="submit" value="Create Article"&gt;
&lt;/form&gt;</pre><p><strong>or:</strong></p><pre class="prettyprint linenums">&lt;form action="" method="post"&gt;
    {% csrf_token %}
    {‌{ form }}
    &lt;input type="submit" value="Create Article"&gt;
&lt;/form&gt;</pre><p><br></p><p><strong>articles.html - to add in between the head tags</strong></p><pre class="prettyprint linenums">&lt;style&gt;
    input {display: block;}
    textarea {display: block;}
&lt;/style&gt;</pre><p><br></p>